/* header */
.cardRoot {
  flex: 1;
  min-height: 0;
}

.card {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-brand);
  line-height: 1.32;
}

.tableArea {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.tableScroll {
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.pagination {
  margin-top: auto;
}


/* status chips */
.statusChip {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0%;
}

.statusDeparted {
  /* --chip-bg: #169f2c; */
  color: var(--Dark, var(--color-text-strong));
  background: #169f2c4d;
}
.statusBoarding {
  --chip-bg: #eebb3a66;
  --chip-color: var(--color-text-strong);
}
.statusScheduled {
  --chip-bg: #22607866;
  --chip-color: var(--Dark, var(--color-text-strong));
}
.statusCancelled {
  --chip-bg: #d512156a;
  --chip-color: var(--color-text-strong);
}

