/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-brand);
  line-height: 1.32;
}

.sortBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-page-bg);
  cursor: pointer;
  font-family: var(--font-roboto);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 144%;

  color: var(--color-brand);

  min-width: 145px;
  border-radius: 12px;
  width: 250;
  height: 46;

  border-radius: 12px;

  gap: 10px;
  border-width: 1px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border: 1px solid var(--DarkSlateGray, var(--color-brand));
}

.sortChevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-brand);
  border-bottom: 2px solid var(--color-brand);
  transform: rotate(45deg) translateY(-3px);
  flex-shrink: 0;
}



/* status chips */
.statusChip {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0%;
}

.statusDeparted {
  /* --chip-bg: #169f2c; */
  color: var(--Dark, var(--color-text-strong));
  background: #169f2c4d;
}
.statusBoarding {
  --chip-bg: #eebb3a66;
  --chip-color: var(--color-text-strong);
}
.statusScheduled {
  --chip-bg: #22607866;
  --chip-color: var(--Dark, var(--color-text-strong));
}
.statusCancelled {
  --chip-bg: #d512156a;
  --chip-color: var(--color-text-strong);
}

/* pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 4px 8px;
}

.pageBtn {
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid var(--color-surface-accent);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.pageBtnArrow {
  background-color: var(--color-surface-accent);
}

.pageBtnArrow:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.pageBtn:disabled {
  cursor: not-allowed;
}

.pageBtnActive {
  background: transparent;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
}
